/* ここから下に記載していく */

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
共通要素
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */
body {
    color: #222222;
    font-size: 16px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.ly-inner {
    padding-top: 60px;
}

.section-heading {
    color: #222222;
    font-size: 24px;
    font-weight: bold;
}

.section-heading--yellow {
    color: #ffd61a;
    font-size: 24px;
    font-weight: bold;
}

.section-heading__subtitle {
    display: block;
    color: #222222;
    font-size: 18px;
    margin-top: 30px;
    font-weight: normal;
}

.gold-btn {
    width: 300px;
    height: 60px;
    font-size: 18px;
    border: none;
    box-sizing: border-box;

    color: #b1921b;
    border-right: 4px solid #cea82c;
    border-bottom: 10px solid #987c1e;
    border-left: 4px solid #ffed8b;
    border-radius: 0;
    background: -webkit-gradient(linear, right top, left top, from(#ffd75b), color-stop(30%, #fff5a0), color-stop(40%, #fffabe), color-stop(50%, #ffffdb), color-stop(70%, #fff5a0), to(#fdd456));
    background: -webkit-linear-gradient(right, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
    background: linear-gradient(-90deg, #ffd75b 0%, #fff5a0 30%, #fffabe 40%, #ffffdb 50%, #fff5a0 70%, #fdd456 100%);
    text-shadow: -1px -1px 1px #ffffd9;
}

.gold-btn:hover {
    color: #b1921b;
    border-right: 2px solid #cea82c;
    border-bottom: 3px solid #987c1e;
    border-left: 2px solid #ffed8b;
}



/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
個別要素
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

/* ----- ヘッダー ----- */
.header__inner {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
    display: block;
}

.header__logo img {
    display: block;
}

.header__gnav-lists {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header__gnav-item {
    margin-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.header__gnav-item:hover {
    background-color: #ffd61a;
}

.header__gnav-link {
    text-decoration: none;
    font-size: 21px;
    color: #222222;
}

.header__gnav-link:visited {
    color: #222222;
}

.header__gnav-link:hover {
    color: white;
}


/* ----- メインビジュアル ----- */
.mainvisual {
    background-image: url(../img/mainbg.png);
    text-align: center;
    text-shadow: 1px 1px 5px #222222;
}

.mainvisual__heading {
    font-size: 48px;
    color: white;
    padding-top: 160px;
}

.mainvisual__subtitle {
    display: block;
    font-size: 32px;
    margin-top: 30px;
    padding-bottom: 160px;
}


/* ----- ABOUT ----- */
.about {
    text-align: center;
}

.about__txt {
    line-height: 1.6;
}

.about-txt1 {
    margin-top: 60px;
}

.about-txt2, .about-txt3, .about-txt4 {
    margin-top: 40px;
}

.about__slider-wrapper {
    padding-top: 80px;
}

/* ABOUT > スライダー */
.slider-3 .slick-slide {
    margin: 0 60px;
    padding: 60px 0;
    position: relative;
  }
  .slider-3 .slick-slide .slide-img {
    width: 385px;
    height: 255px;
    transition: all 0.6s ease 0.4s;
      opacity: 0.8;
    box-shadow: 7px 7px 15px -5px #666;
    overflow: hidden;
  }
  .slider-3 .slick-slide.slick-current .slide-img {
      transform: scale(1.2);
      opacity: 1;
  }
  .slider-3 .slick-slide .slide-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slider-3 .slick-arrow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 0;
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  }
  .slider-3 .slick-arrow::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #09000d;
    border-width: 3px 3px 0 0;
    position: absolute;
    top: 24px;
    transform: rotate(45deg);
  }
  .slider-3 .slick-next {
    right: 0;
  }
  .slider-3 .slick-prev {
    left: 0;
  }
  .slider-3 .slick-next::before {
    left: 20px;
  }
  .slider-3 .slick-prev::before {
    border-width: 0 0 3px 3px;
    right: 22px;
  }
  .dots-3 .slick-dots {
    text-align: center;
  }
  .dots-3 .slick-dots li {
    display: inline-block;
  }
  .dots-3 .slick-dots button {
    display: block;
    width: 10px;
    height: 10px;
    margin: 6px;
    font-size: 0;
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer;
    background: #bcbcbc;
    border-radius: 50%;
  }
  .dots-3 .slick-dots .slick-active button {
    background: #0a467d;
  }


/* ----- COURSE ----- */
.course {
    text-align: center;
}

.course__txt {
    line-height: 1.6;
    margin-top: 30px;
}

.course__features {
    margin-top: 60px;
    display: flex;
    flex-flow: column nowrap;
    background-color: #fafafa;
}

.course__feature {
    display: flex;
}

.course__feature:nth-child(even) {
    flex-direction: row-reverse;
}

.course__feature-txt {
    width: 50%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.feature-txt-even {
    justify-content: flex-end;
}

.course__txt-wrapper {
    text-align: left;
}

.course__feature-img {
    display: block;
    width: 50%;
}

.course__feature-txt-heading {
    width: 480px;
    padding-left: 50px;
    box-sizing: border-box;
    font-size: 21px;
    font-weight: bold;
}

.course__feature-txt-sub {
    width: 480px;
    padding-left: 50px;
    box-sizing: border-box;
    margin-top: 40px;
    line-height: 1.6;
}

.course__txt-wrapper .feature-heading-even{
    padding-left: 0;
    padding-right: 50px;
}

.course__txt-wrapper .feature-sub-even{
    padding-left: 0;
    padding-right: 50px;
}


/* ----- NEWS ----- */
.news {
    text-align: center;
}

.news__lists {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 60px;
}

.news__item:nth-of-type(-n+2) {
    margin-right: 30px;
}

.news__article {
    width: 300px;
}

.news__article:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: #ffd61a;
}

.news__article p {
    text-align: left;
}

.news__article-date {
    margin-top: 30px;
    margin-bottom: 24px;
}

.news__article-txt {
    line-height: 1.6;
}

.news__btn-wrapper {
    margin-top: 60px;
    margin-bottom: 60px;
}


/* ----- ACCESS ----- */
.access {
    text-align: center;
    background-color: #fafafa;
}

.access__inner {
    padding-bottom: 60px;
}

.access__map {
    margin-top: 60px;
    margin-bottom: 60px;
}

.access__details {
    margin: 0 auto;
    padding-bottom: 60px;
}

.access__detail {
    height: 50px;
    line-height: 50px;
    text-align: left;
}

.access__detail-title {
    width: 150px;
}

.access__detail-data {
    width: 400px;
}


/* ----- CONTACT ----- */
.contact {
    text-align: center;
}

.contact__txt {
    line-height: 1.6;
}

.contact-txt1 {
    margin-top: 60px;
}

.contact-txt2 {
    margin-top: 30px;
}

.contact__form-wrapper {
    margin-top: 70px;
    margin-bottom: 140px;
}

/* .contact__form {
    margin: 0 auto;
} */

.contact__form-table {
    margin: 0 auto;
}

.contact__form-row {
    border-bottom: 1px solid #bfbfbf;
}

.cr1 {
    height: 54px;
}

.cr2 {
    height: 72px;
}

.contact__form-row:first-child {
    border-top: 2px solid #bfbfbf;
}

.contact__form-row-title {
    text-align: left;
    width: 240px;
    
}

.contact__form-row-title-inner {
    margin-left: 16px;
    margin-right: 64px;
    line-height: 1.6;
}

.contact__form-row-input {
    width: 400px;
    border-left: 1px solid #bfbfbf;
}

.contact__form-row-input-box {
    display: block;
    width: 320px;
    height: 36px;
    margin: 8px auto 8px 8px;
}

.contact-sbox {
    width: 328px;
}

.contact__form-row-input-lists {
    margin: 8px auto 8px 8px;
}

.contact__form-row-input-item {
    text-align: left;
    margin-bottom: 24px;
}

.contact__form-row-input-txtarea {
    display: block;
    width: 328px;
    height: 100px;
    margin: 8px auto 8px 8px;
}

.contact__btn-wrapper {
    margin-top: 30px;
    margin-bottom: 140px;
}


/* ----- フッター ----- */
.footer {
    text-align: center;
    background-color: #707070;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}